<div class="container mt-4">
    <h2 class="mb-4">Crear una orden de compra</h2>
    <form [formGroup]="orderForm" (ngSubmit)="sendForm()">
            <!--Sección datos del cliente -->
            <div class="row-mb-4">
                <div class="col-md-6 mb-3">
                    <label class="form-label">Nombre del cliente</label>
                    <input type="text" class="form-control" formControlName="nombreCliente" id="nombreCliente">
                </div>

                <div class="col-md-6 mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" formControlName="emailCliente" id="emailCliente">
                </div>
                
            </div>

            <!--Sección de productos-->
            <div class="card mb-4">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">Productos</h5>
                        <button type="button" class="btn btn-primary" (click)="agregarProducto()">
                            +
                        </button>
                    </div>
                </div>

                <div class="card-body">
                    <!--Lista de productos-->
                    <div formArrayName="productos">
                        @for(producto of productos.controls; track $index ){
                            <div class="row mb-3" [formGroupName]="$index">
                                <!--Selector de producto-->
                                <div class="col-md-3">
                                    <label class="form-label">Producto</label>
                                    <select class="form-select" id="productoNombre" formControlName="productoNombre" (change)="onProductoSeleccionado($index)">
                                        @for(productoDisponible of productosDisponibles; track $index){
                                            <option [value]="productoDisponible.id">{{productoDisponible.name}} </option>
                                        }
                                    </select>
                                </div>

                                <!--Campo precio unitario readonly-->

                                <div class="col-md-2">
                                <label class="form-label">Precio unitario</label>
                                <input type="number" class="form-control" formControlName="precioUnitario" readonly>
                                </div>
    
                                <!--Campo cantidad-->
    
                                <div class="col-md-2">
                                    <label class="form-label">Cantidad</label>
                                    <input type="number" class="form-control" formControlName="cantidad" (input)="onCantidadChange($index)">
                                </div>
    
                                <!--Campo precio readonly-->
    
                                <div class="col-md-2">
                                    <label class="form-label">Subtotal </label>
                                    <input type="number" class="form-control" formControlName="precioSubtotal" readonly>
                                </div>
    
                                <!--Campo stock readonly-->
    
                                <div class="col-md-2">
                                    <label class="form-label">Stock</label>
                                    <input type="number" class="form-control" formControlName="stock" readonly>
                                </div>
    
                                <!--Botón eliminar-->
                                <div class="col-md-1 d-flex align-items-end">
                                    <button type="button" class="btn btn-danger" (click)="eliminarProducto($index)">X</button>
                                </div>
                            </div>

                        }

                    
                    </div>
                </div>
            </div>

            <!--Sección de productos seleccionados-->
            <div class="card-mb-4">
                <div class="card-header">
                    <h5 class="mb-0">Productos seleccionados</h5>
                </div>
                <div class="card-body">
                    <ul>
                        <li>
                            Producto Nuevo - Cantidad: 2 - Precio: 1500 - Stock: 5
                        </li>
                    </ul>
                </div>
            </div>

            <div class="card-mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 offset-md-6">
                            <div class="d-flex jusitify-content-between">
                                <strong>Total: </strong>
                                <span>1500</span>
                            </div>
                            <div class="text-success mt-2">
                                10% descuento aplicado!
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">
                    Crear orden
                </button>
            </div>


    </form>
</div>




<!--


<form [formGroup]="orderForm" (ngSubmit)="sendForm()" >
    <label for="nombreCliente">      Nombre del Cliente: </label>
        <input type="text" formControlName="nombreCliente" id="nombreCliente">
        @if(orderForm.controls['nombreCliente'].invalid
        &&  
        ( orderForm.controls['nombreCliente'].touched || orderForm.controls['nombreCliente'].dirty)
          ){
              @if(orderForm.controls['nombreCliente']?.errors?.['required']){
                <div class="text-danger">Nombre del cliente es requerido</div>
              }
        }
    <label for="emailCliente">   Email del Cliente: </label>   
        <input type="text" formControlName="emailCliente" id="emailCliente">
        @if(orderForm.controls['emailCliente'].invalid 
        && (orderForm.controls['emailCliente'].touched ||
        orderForm.controls['emailCliente'].dirty
            )){
                @if(orderForm.controls['emailCliente'].errors?.['email']){
                    <div class="text-danger">El email ingresado tiene formato no válido</div>
                }
            }

            @if(isCheckingEmail){
                <div class="validation-pending">
                    Verificando emaill...
                </div>
            }

            @if(hayErrorLimiteOrdenes()){
                <div class="error-message">
                    {{getMensajeErrorLimiteOrdenes() }}
                </div>
            }

    <div formArrayName="productos">
        <button type="button" (click)="agregarProducto()"> Agregar producto </button>
        
        @if(orderForm.controls['productos'].errors?.['duplicateProducts']){
            <div class="error-message">
                No se permiten productos duplicados
            </div>
        }
        @for(producto of productos.controls; track $index ){
            <div [formGroupName]="$index">
                <label for="productoNombre">  Producto: </label>   
                    <select id="productoNombre" formControlName="productoNombre" (change)="onProductoSeleccionado($index)">
                        
                        @for(productoDisponible of productosDisponibles; track $index){
                            <option [value]="productoDisponible.id">{{productoDisponible.name}} </option>
                        }
                    </select>

             
                <label for="precioUnitario"> Precio unitario: </label>
        
                    <input id="precioUnitario" type="number" formControlName="precioUnitario" />

                    <label for="cantidad">Cantidad</label>
                    <input id="cantidad" type="number" formControlName="cantidad" (input)="onCantidadChange($index)" />
            
                <label for="precioSubtotal"> Subtotal: </label>
    
                    <input id="precioSubtotal" formControlName="precioSubtotal" type="number"  />
             
                    <label for="precioSubtotal"> Subtotal: </label>
                    Stock:
                    <input id="stock" type="number" formControlName="stock" />
        
                <button type="button" (click)="eliminarProducto($index)">Eliminar producto</button>
            </div>
        }
    </div>
    
    <button type="submit" class="btn btn-primary">Enviar</button> 

</form>

-->